body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero img {
    width: 200px;
    border-radius: 50%;
}

.hero h1 {
    font-size: 40px;
}

.hero p {
    font-size: 18px;
    width: 60%;
    margin: auto;
}

button {
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
}